body {
 background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-container {
  display: flex;
  margin-left: 400px;
}

.logo {
  width: 100px;
  /* Adjust the size of your logo */
  height: 100px;
  /* Adjust the size of your logo */
  border-radius: 50%;
  /* Make the logo round */
  /* border: 2px solid white; */
  /* Add a white border for better visibility */
  margin-right: 10px;
  /* Adjust the spacing between logo and title */
  margin-left: 10px;
  margin-top: 24px;
}

.title {
  font-size: 100px;
  margin-bottom: 40px;
  margin-top: 0px;
  margin-left: 10px;
  color: gold;
}

.card-title {
  color: whitesmoke;
  text-align: center;
}

.line-1 {
  font-size: 70px;
  font-style: Playfair Display;
  margin-left: 240px;
  /* font-family: 'Caveat', cursive; */
  /* text-align: center; */
}

.save {
  font-size: 35px;
  font-style: Playfair Display;
  margin-left: 250px;
  margin-top: -35px;
  /* font-family: 'Caveat', cursive; */
  /* text-align: center; */
}

.card-group {
  margin-top: 20px;
  margin-left: 50px;
}

.pubg-logo {
  border-radius: 10px;
  width: 270px;
  transition: transform 0.3s ease-in-out;
}

.pubg-logo:hover {
  transform: scale(0.9);
}

.callofduty-logo {
  border-radius: 10px;
  width: 270px;
  transition: transform 0.3s ease-in-out;

}

.callofduty-logo:hover {
  transform: scale(0.9);
}

.ff-logo {
  border-radius: 10px;
  width: 270px;
  transition: transform 0.3s ease-in-out;

}

.ff-logo:hover {
  transform: scale(0.9);
}

.coc-logo {
  width: 270px;
  height: auto;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}

.coc-logo:hover {
  transform: scale(0.9);
}

.valo-logo {
  width: 270px;
  height: auto;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;

}

.valo-logo:hover {
  transform: scale(0.9);
}

.bgmi-logo {
  width: 270px;
  height: auto;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}

.bgmi-logo:hover {
  transform: scale(0.9);
}

.ft-logo {
  width: 270px;
  height: auto;
  border-radius: 25px;
  transition: transform 0.3s ease-in-out;
}

.ft-logo:hover {
  transform: scale(0.9);
}


.card-1 {
  border: 5px solid gold;
  border-radius: 10px;
  display: inline-block;
  max-width: 400px;
  margin-left: 200px;
  margin-right: 20px;
}

.card-2 {
  border: 5px solid gold;
  border-radius: 10px;
  display: inline-block;
  max-width: 400px;
  margin-right: 20px;
}

.card-3 {
  border: 5px solid gold;
  border-radius: 10px;
  display: inline-block;
  max-width: 400px;
  margin-right: 20px;
}

/* .card-4 {
 border: 5px solid gold
old
;
  border-radius: 10px;
  display: inline-block;
  max-width: auto;
} */

.card-5 {
  border: 5px solid gold;
  border-radius: 10px;
  display: inline-block;
  margin-left: 200px;
  margin-right: 20px;
  /* max-width: 400px; */
}

.card-6 {
  border: 5px solid gold;
  border-radius: 10px;
  display: inline-block;
  margin-right: 20px;
  /* max-width: 400px; */
}

.card-7 {
  border: 5px solid gold;
  border-radius: 10px;
  display: inline-block;
  /* max-width: 400px; */
}

.card-8 {
  display: inline-block;
  margin-left: 20px
    /* max-width: 400px; */
}

.group-1 {
  margin-bottom: 30px;
}

.pubga .ffa .fta .coca .coda .valoa .bgmia {
  text-decoration: none;
  color: white;
}

.footer {
  text-align: center;
  color: greenyellow;
  margin-top: 100px;
}


.line-2 {
  margin-bottom: 50px;
  margin-left: 250px;
}
.line-3 {
  margin: 77px 250px 25px 250px;
}


.check-id {
  margin-left: 250px;
}

form {
 
  margin-right: 700px;
  border-radius: 50%;
  margin-left: 250px;
  /* margin: 20px auto; */
}
label {
  display: block;
  margin-bottom: 8px;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  max-width: 550px;
}


/* button {
  background-color: #50C878;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
} */


button {
  background-color: orange;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkorange;
}

.final-btn {

 
    background-color: #50C878;
    color: #fff;
    /* padding: 12px 20px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;

  margin-top: 100px;
  margin-left: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 200px;
  padding-left: 200px;
  
}

.final-btn:hover {
  background-color: #388E3C;
}

.final-link {
  text-decoration: none;
  color: inherit;
}