
.image-box {
    margin-left: 450px;
}

.both {
    text-align: center;
    margin-top: 50px;
}

.l1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
